# Expo environment variables
EXPO_PUBLIC_API_URL=https://yoge-2004-expense-tracker-backend.hf.space/api

# Google OAuth Client IDs (Obtained from Google Cloud Console Credentials)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=487469737581-k1idcre171eknatam925igofmc6jtk00.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=487469737581-p826efhglp29u44vvo2cl4focntjg8e6.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=487469737581-iadvi7lcfbr57aj6c46t4dbu4906h21t.apps.googleusercontent.com
